<% @point.errors.full_messages.each do |message| %>
 <li><%= message %></li>
<% end %>

<%= form_for @point, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tipo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rodovia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rodovia, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sentido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sentido, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :conservacao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :conservacao, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                points_path, :class => 'btn' %>
  </div>
<% end %>
