<h1>Listing roadways</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Rodovia</th>
      <th>Sentido</th>
      <th>Conservacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roadways.each do |roadway| %>
      <tr>
        <td><%= roadway.tipo %></td>
        <td><%= roadway.rodovia %></td>
        <td><%= roadway.sentido %></td>
        <td><%= roadway.conservacao %></td>
        <td><%= link_to 'Show', roadway %></td>
        <td><%= link_to 'Edit', edit_roadway_path(roadway) %></td>
        <td><%= link_to 'Destroy', roadway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roadway', new_roadway_path %>
