<h1>Listing roadways</h1>

<p id="notice"><%= notice %></p>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :rodovia_cont, "Rodovia que contém:" %>
    <%= f.text_field :rodovia_cont %>
  </div>
  <div class="field">
    <%= f.label :conservacao_gteq, "Conservação entre: " %>
    <%= f.text_field :conservacao_gteq %>
    <%= f.label :conservacao_lteq, " e " %>
    <%= f.text_field :conservacao_lteq %>
  </div>
  <div class="field">
    <%= f.label :sentido_cont, "Sentido" %>
    <%= f.text_field :sentido_cont %>
  </div>
  <div class="action">
    <%= f.submit "Search" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Rodovia</th>
      <th>Sentido</th>
      <th>Conservacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roadways.each do |roadway| %>
      <tr>
        <td><%= roadway.tipo %></td>
        <td><%= roadway.rodovia %></td>
        <td><%= roadway.sentido %></td>
        <td><%= roadway.conservacao %></td>
        <td><%= link_to 'Show', roadway %></td>
        <td><%= link_to 'Edit', edit_roadway_path(roadway) %></td>
        <td><%= link_to 'Destroy', roadway, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roadway', new_roadway_path %>
