<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @roadway.tipo %>
</p>

<p>
  <strong>Rodovia:</strong>
  <%= @roadway.rodovia %>
</p>

<p>
  <strong>Sentido:</strong>
  <%= @roadway.sentido %>
</p>

<p>
  <strong>Conservacao:</strong>
  <%= @roadway.conservacao %>
</p>

<%= link_to 'Edit', edit_roadway_path(@roadway) %> |
<%= link_to 'Back', roadways_path %>
